<nav class="breadcrumbs" role="navigation" aria-label="{{ 'general.breadcrumbs.label' | t }}">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="{{ routes.root_url }}">
        {{ 'general.breadcrumbs.home' | t }}
      </a>
    </li>

    {%- case template.name -%}

      {%- when 'product' -%}
        {%- if collection -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ collection.url }}">
              {{ collection.title }}
            </a>
          </li>
        {%- endif -%}
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link breadcrumbs__link--active" aria-current="page">
            {{ product.title | truncate: 40 }}
          </span>
        </li>

      {%- when 'collection' -%}
        {%- if collection.handle -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link breadcrumbs__link--active" aria-current="page">
              {{ collection.title }}
            </span>
          </li>
        {%- else -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link breadcrumbs__link--active" aria-current="page">
              {{ 'collections.general.title' | t }}
            </span>
          </li>
        {%- endif -%}

      {%- when 'blog' -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ blog.url }}">
            {{ blog.title }}
          </a>
        </li>
        {%- if article -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link breadcrumbs__link--active" aria-current="page">
              {{ article.title | truncate: 40 }}
            </span>
          </li>
        {%- endif -%}

      {%- when 'page' -%}
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link breadcrumbs__link--active" aria-current="page">
            {{ page.title }}
          </span>
        </li>

      {%- when 'cart' -%}
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link breadcrumbs__link--active" aria-current="page">
            {{ 'cart.general.title' | t }}
          </span>
        </li>

      {%- when 'search' -%}
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link breadcrumbs__link--active" aria-current="page">
            {{ 'general.search.title' | t }}
          </span>
        </li>

      {%- else -%}
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link breadcrumbs__link--active" aria-current="page">
            {{ page_title }}
          </span>
        </li>

    {%- endcase -%}
  </ol>
</nav>
