{% layout 'theme' %}

<main class="register-page" role="main">
  <div class="page-width">
    <div class="form-wrapper form-wrapper--register">
      <h1 class="form-title">{{ 'customer.register.title' | t }}</h1>

      {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        <div class="field">
          <label for="RegisterForm-FirstName" class="field__label">
            {{ 'customer.register.first_name' | t }}
          </label>
          <input
            type="text"
            name="customer[first_name]"
            id="RegisterForm-FirstName"
            class="field__input"
            autocomplete="given-name"
            {% if form.first_name %}
              value="{{ form.first_name }}"
            {% endif %}
          >
        </div>

        <div class="field">
          <label for="RegisterForm-LastName" class="field__label">
            {{ 'customer.register.last_name' | t }}
          </label>
          <input
            type="text"
            name="customer[last_name]"
            id="RegisterForm-LastName"
            class="field__input"
            autocomplete="family-name"
            {% if form.last_name %}
              value="{{ form.last_name }}"
            {% endif %}
          >
        </div>

        <div class="field">
          <label for="RegisterForm-email" class="field__label">
            {{ 'customer.register.email' | t }}
          </label>
          <input
            type="email"
            name="customer[email]"
            id="RegisterForm-email"
            class="field__input"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            required
            {% if form.email %}
              value="{{ form.email }}"
            {% endif %}
          >
        </div>

        <div class="field">
          <label for="RegisterForm-password" class="field__label">
            {{ 'customer.register.password' | t }}
          </label>
          <input
            type="password"
            name="customer[password]"
            id="RegisterForm-password"
            class="field__input"
            autocomplete="new-password"
            required
          >
        </div>

        <div class="form-actions">
          <button type="submit" class="button button--primary button--full">
            {{ 'customer.register.submit' | t }}
          </button>
        </div>
      {% endform %}

      <div class="form-footer">
        <p>{{ 'customer.register.have_account' | t }}</p>
        <a href="{{ routes.account_login_url }}" class="button button--secondary">
          {{ 'customer.register.sign_in' | t }}
        </a>
      </div>
    </div>
  </div>
</main>
